<footer class="mt-auto container">
    <div class="row">
        <div class="col-sm-3 d-flex">
            <div class="card text-center bg-info text-dark shadow flex-fill">
              <div class="card-body">
                <h5 class="card-title"><i class="fa fa-clock" aria-hidden="true"></i></h5>
                <p class="card-text">Monday - Friday<span> 04:00PM - 09:00PM</span></p>
                <p class="card-text">Saturday<span> 09:00AM - 14:30PM</span></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 d-flex">
            <div class="card text-center bg-info text-dark shadow flex-fill">
              <div class="card-body">
                <h5 class="card-title"><i class="fa fa-map-marker" aria-hidden="true"></i></h5>
                <p class="card-text">Units 7 &amp; 8<br />424 Carlton Road<br />Carlton<br />Barnsley<br />S71 3HX</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 d-flex">
            <div class="card text-center bg-info text-dark shadow flex-fill">
              <div class="card-body">
                <h5 class="card-title"><i class="fa fa-envelope" aria-hidden="true"></i></h5>
                <p class="card-text">E-MAIL: <span><a href="mailto:info@barnsleygymnastics.club">info@barnsleygymnastics.club</a></span></span></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 d-flex">
            <div class="card text-center bg-info text-dark shadow flex-fill">
              <div class="card-body">
                <h5 class="card-title"><i class="fa fa-phone" aria-hidden="true"></i></h5>
                <p class="card-text">CALL US:<span>01226 728972</span></p>
              </div>
            </div>
          </div>
    </div>
</footer>