<section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Portfolio</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        {% for portfolio in site.portfolios %}
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolio{{ portfolio.client }}">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="assets/img/portfolio/{{ portfolio.thumbnail }}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>{{ portfolio.client }}</h4>
            <div class="text-muted">{{ portfolio.category }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% for portfolio in site.portfolios %}
  <div class="portfolio-modal modal fade" id="portfolio{{ portfolio.client }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">{{ portfolio.name }}</h2>
                <p class="item-intro text-muted">{{ portfolio.intro }}</p>
                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/{{ portfolio.full_image }}" alt="">
                <div>{{ portfolio.content | markdownify }}</div>
                <ul class="list-inline">
                  <li>Date: {{ portfolio.date }}</li>
                  <li>Client: {{ portfolio.client }}</li>
                  <li>Category: {{ portfolio.category }}</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}