// https://coolors.co/ffd700-3f7cac-95afba-f4a5ae-a8577e
$gold:    #FFD700;
$steel-blue:  #3F7CAC;
$pewter-blue:  #95AFBA;
$light-pink:    #F4A5AE;
$china-rose:     #A8577E;

$colors: (
  "gold":       $gold,
  "steel-blue":     $steel-blue,
  "pewter-blue":     $pewter-blue,
  "light-pink":       $light-pink,
  "china-rose":       $china-rose
);

$secondary:     $pewter-blue;
$info:          $gold;

