.welcome-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    width: 100% !important;
}

#welcome-txt {
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 85px;
    text-align: center !important;
    top: 30%;
    position: absolute;
    background-color: rgba($light, 0.5);
}

iframe {
    width:1px;
    min-width: 100%;
}