<div class="portfolio-modal modal fade" id="portfolio{{ page.client }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">{{ page.name }}</h2>
                <p class="item-intro text-muted">{{ page.intro }}</p>
                <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/{{ page.full_image }}" alt="">
                <div>{{ page.content | markdownify }}</div>
                <ul class="list-inline">
                  <li>Date: {{ page.date }}</li>
                  <li>Client: {{ page.client }}</li>
                  <li>Category: {{ page.category }}</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>