<div class="col-sm-4">
    <div class="team-member">
      <img class="mx-auto rounded-circle" src="{{page.image}}" alt="">
      <h4>{{ page.name }}</h4>
      <p class="text-muted">{{page.job_title}}</p>
      <div class="module">
        <div class="collapse" id="{{page.name | slugify}}">
          {{ page.content }}
        </div>
        <a role="button" class="collapsed" data-toggle="collapse" href="#{{page.name | slugify}}" 
         aria-expanded="false" aria-controls="{{page.name | slugify}}"></a>
      </div> 
    </div>
  </div>